body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url("./images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
  color: #ffffff;
  background: rgba(0, 0, 0, 0);
  padding: 40px;
  border-radius: 10px;
  max-height: 80vh;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.App::-webkit-scrollbar {
  display: none;
}

.title {
  margin-top: 30px;
}

.Profile-photo {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-top: 20px;
}

nav ul {
  list-style: none;
  padding: 30px;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 768px) {
  .App {
    padding: 20px;
    max-height: 70vh;
  }

  .Profile-photo {
    width: 200px;
    height: 200px;
  }

  .title {
    margin-top: 20px;
    font-size: 1.5rem;
  }

  nav ul {
    padding: 20px;
  }

  nav ul li {
    display: block;
    margin: 10px 0;
  }
}

@media (max-width: 480px) {
  .App {
    padding: 10px;
    max-height: 60vh;
  }

  .Profile-photo {
    width: 150px;
    height: 150px;
  }

  .title {
    margin-top: 10px;
    font-size: 1.2rem;
  }

  nav ul {
    padding: 10px;
  }

  nav ul li {
    display: block;
    margin: 5px 0;
  }
}
.title {
  font-size: 2.5rem;
  color: #378b92f8;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 1.5rem;
  }
}
